/* Element selector targeting all <h1> elements*/
h1 {
    color: red;
    text-decoration: dotted;}

/* Element selector targeting elements with class  .heading1 elements*/    
.heading1 {
    color: red;
    text-decoration: underline;}

/* Element selector targeting elements with class .heading3 elements*/ 
.heading3 {
    color: green;
    text-decoration: underline;}
    
/* Element selector targeting elements with class .bold*/
.bold {
    font-weight: bold;}

 /* Element selector targeting element with class #title*/    
#title {
    color: yellow;
    text-decoration: underline;}